:root {
  --color-background: #000;
  --color-text: #fff;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: sans-serif;
}

code {
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(243, 242, 242);
  color: rgb(58, 58, 58);
  padding: 2px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 233, 233);
  border-image: initial;
  border-radius: 4px;
}

.App {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #eee;
}
